/*
  cmd: {{ .Cmd }}
  comments: {{ range .Comments }}{{ . }}
{{end}}
  method name: {{ .MethodName }}
  sql: {{ .SQL }}

  args: {{ range .Args }}
    - name: {{ .Name }}
      emit: {{ .Emit }}
      Struct: {{ .Struct }}
      type: {{ outputTsType .Type }}
{{ end }}

  ret: {{ with .Ret }}
    - name {{ .Name }}
      emit: {{ .Emit }}
      struct: {{ .Struct }}
      type: {{ .Type }}
{{ end }}
*/
{{ define "queryValue" -}}{{ if .Struct }}{{.Struct.Name}}{{ else }}{{ outputTsType .Type }}{{ end }}{{ end }}
export const {{ .MethodName }} = async (): Promise<{{ template "queryValue" .Ret }}> => {
}
